<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>598674994854-9un6e7iocho0ojn46k0v7idg4oit5vt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598674994854-9un6e7iocho0ojn46k0v7idg4oit5vt3</string>
	<key>API_KEY</key>
	<string>AIzaSyCfIYK-HkUORzt2hFU44D17Q-6eAEz2EY4</string>
	<key>GCM_SENDER_ID</key>
	<string>598674994854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bojanberan.bokisworkoutlog</string>
	<key>PROJECT_ID</key>
	<string>bokis-workout-log</string>
	<key>STORAGE_BUCKET</key>
	<string>bokis-workout-log.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598674994854:ios:1b0058969a0150e8</string>
	<key>DATABASE_URL</key>
	<string>https://bokis-workout-log.firebaseio.com</string>
</dict>
</plist>